{% extends "base.html" %}

{% block page-title %}
<title>Baiano | Delete Booking</title>
{% endblock page-title %}

{% block content %}
<div class="container mb-5">

  <div class="delete-booking-page">

    <div class="mb-5">
      <p class="display-3">Confirm Deletion</p>
    </div>

    <p class="lead mb-4">Are you sure you want to delete this booking?</p>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 mb-2">
            <label for="first_name" class="form-label">First Name</label>
            <input id="first_name" type="text" name="first_name" class="form-control" value="{{ object.first_name }}"
              disabled>
          </div>

          <div class="col-12 col-md-6 mb-2">
            <label for="last_name" class="form-label">Last Name</label>
            <input id="last_name" type="text" name="last_name" class="form-control" value="{{ object.last_name }}"
              disabled>
          </div>

          <div class="col-12 col-md-4 mb-2">
            <label for="date" class="form-label">Reservation Date</label>
            <input id="date" type="date" name="date" class="form-control" value="{{ object.date|date:'Y-m-d' }}"
              disabled>
          </div>

          <div class="col-12 col-md-4 mb-2">
            <label for="time" class="form-label">Reservation Time</label>
            <input id="time" type="time" name="time" class="form-control" value="{{ object.time|time:'H:i' }}" disabled>
          </div>

          <div class="col-12 col-md-4 mb-2">
            <label for="guests" class="form-label">Number of Guests</label>
            <input id="guests" name="guests" type="number" class="form-control" value="{{ object.guests }}" min="1"
              disabled>
          </div>

          <div class="col-12 mb-2">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" class="form-control" rows="3" disabled>{{ object.message }}</textarea>
          </div>

        </div>

        <form method="post" class="text-end my-3">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger me-3">Yes, Delete It</button>
          <a href="{% url 'reservations' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}